<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of fields" class="form-field">
    <label [for]="field.key">{{ field.label }}</label>
    
    <!-- Input normal -->
    <input 
      *ngIf="field.type !== 'select'"
      [type]="field.type"
      [id]="field.key"
      [formControlName]="field.key">
    
    <!-- Select desplegable -->
    <select 
      *ngIf="field.type === 'select'"
      [id]="field.key"
      [formControlName]="field.key">
      <option *ngFor="let option of field.options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div class="acciones">
    <div>
      <button type="submit" [disabled]="form.invalid">Cargar Datos</button>
      <button type="button" (click)="resetForm()">Limpiar</button>
    </div>
    <button (click)="salir()">Salir</button>
  </div>
</form>