<div class="sidebar" [class.collapsed]="isCollapsed">
  <nav>
    <ul>
      <li>
        <a class="toggle-btn" (click)="toggleSidebar()">
          <i class="bi" [ngClass]="isCollapsed ? 'bi-arrow-right' : 'bi-arrow-left'"></i>
          <span class="text">Alquimia Lavanderia</span>
        </a>
      </li>
      <!-- Elementos del menú generados dinámicamente -->
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.path" routerLinkActive="active">
          <i [class]="item.icon"></i>
          <span class="text">{{ item.text }}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
