.container {
    position: fixed; /* Necesario para posicionar el SVG de fondo */
}

.container svg {
    position: absolute;
    z-index: 0; /* Coloca el SVG detrás del contenido */
}

.content {
    position: relative; /* Asegura que el contenido esté encima del SVG */
    z-index: 1; /* Mayor que el z-index del SVG */
}